.cart_button {
    padding: 5px;
    margin-left: 10px;

    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border: none;
    cursor: pointer;
    font-size: 1.5rem;

    color: #333;
    background: none;
}

.cart_status {
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    
    font-size: 11px;
    font-weight: 600;
    
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    background-color: red;
    border-radius: 15px;
}