.product_card {
    width: 100%;

    margin: 0 auto;
    
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    cursor: pointer;
}

.card_item {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    
    padding: 10px;

    border-radius: 4px;
    background-color: white;
}

.card_image {
    width: 100%;
}

.card_info {
    padding-top: 0;
    padding: 25px;

    background-color: white;
}

.card_price {
    font-size: 30px;
    font-weight: 400;

    display: block;
    margin-bottom: 10px;
}

.card_title {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    font-weight: 500;
}

.card_button_add {
    color: #2968C8;
    background-color: #E3EDFB;
    
    border: none;
    border-radius: 4px;
    
    padding: 10px;

    cursor: pointer;
}