.search_form {
    gap: 10px;
    padding-right: 10px;

    width: 100%;
    max-width: 500px;

    display: flex;
    justify-content: space-between;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: white;
}

.search_input {
    padding: 13px;

    font-size: 0.8rem;
    font-weight: 500px;

    border: none;
    outline: none;
    border-right: 1px solid #ddd;

    flex-grow: 1;
}

.search_button {  
    border: none;
    font-size: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #333;
    background: none;
}