.header {
    width: 100%;
    z-index: 999;
    position: fixed;
    background-color: #fff159;
}

.header > .container {
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between; 
}