.loading_container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading_icon {
    width: 50px;
    animation: 3s spin linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}