.container_sidebar {
    width: 50%;
    height: 100vh;

    right: 0;
    z-index: 999;
    position: fixed;

    overflow-y: auto;
    overflow-x: hidden;
 
    background-color: #ffff;
}

.header_sidebar {
    width: 100%;
    height: 65px;

    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: black;
}

.content_total_price {
    width: 100%;
    bottom: 0;
    position: fixed;
    padding: 5px;
}