.container_product {
    display: grid;
    align-items: center;

    margin: 30px;

    grid-template-columns: 20% 70% 10%;
    grid-gap: 2px;
}

.container_product > .box_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_product > .box_image > img {
    width: 100%;
}

.container_product > .box_desc > span {
    font-size: 15pt;
    font-weight: normal;
}

.container_product > .box_desc > .container_quantity {
    width: 150px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_product > .box_desc > .container_quantity {
    font-size: 15pt;
}